@model UASPAW_115.Models.FormKeluar

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FormKeluar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKeluar" />
            <div class="form-group">
                <label asp-for="TanggalKeluar" class="control-label"></label>
                <input asp-for="TanggalKeluar" class="form-control" />
                <span asp-validation-for="TanggalKeluar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMasuk" class="control-label"></label>
                <select asp-for="IdMasuk" class="form-control" asp-items="ViewBag.IdMasuk"></select>
                <span asp-validation-for="IdMasuk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKendaraan" class="control-label"></label>
                <select asp-for="IdKendaraan" class="form-control" asp-items="ViewBag.IdKendaraan"></select>
                <span asp-validation-for="IdKendaraan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTarif" class="control-label"></label>
                <select asp-for="IdTarif" class="form-control" asp-items="ViewBag.IdTarif"></select>
                <span asp-validation-for="IdTarif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
